<!-- Image and text -->
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.jpg" width="100" height="60"  alt="">
    </a>
        
    <div class="top">
        <div class="topnav-right" style="font-weight:bold ">

          <button type="button" class="btn btn-light" style="font-weight:bold" routerLink="Login">Login</button>
          
            <a routerLink="contact">Contact</a>
            <a routerLink="">Products</a>

            <button type="button" class="btn btn-primary" routerLink="cart" >
              <i class="fa fa-shopping-cart"style="font-size: 20px;" aria-hidden="true"> Cart</i>
              <div class="badge bg-danger">{{len}}</div>
            </button>
        
          </div>
</div>
</nav>