
  .top a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .top a:hover {
    background-color: rgb(71, 117, 216);
    color: rgb(255, 255, 255);
  }

  .top{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }