<div class="logo"><h1>PRODUCTS</h1></div>
<div class="container">
	<div class="row">
	
    <div class="col-md-4">
    <div class="profile-card-4 text-center"><img src="\assets\BOOK.webp" class="img img-responsive">
        <div class="profile-content">
              <div class="row">
                <div class="col-xs-4">
                    <div class="price">
                        <a routerLink="book"> <h4 class="text-center"><strong>BOOK</strong></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	
<div class="col-md-4">
    <div class="profile-card-4 text-center"><img src="assets/bag1.webp" class="img img-responsive">
        <div class="profile-content">
            <div class="row">
                <div class="col-xs-4">
                    <div class="price">
                        <a routerLink="bag"> <h4 class="text-center"><strong>BAG</strong></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	
<div class="col-md-4">
    <div class="profile-card-4 text-center"><img src="/assets/s6.webp" class="img img-responsive">
        <div class="profile-content">
            <div class="row">
                <div class="col-xs-4">
                    <div class="price">
                        <a routerLink="SANITIZER"> <h4 class="text-center"><strong>SANITIZER</strong></h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>